@font-face {
    font-family: 'pokemon';
    src: url('pokemon_solid-webfont.eot');
    src: url('pokemon_solid-webfont.eot?#iefix') format('embedded-opentype'),
         url('pokemon_solid-webfont.woff2') format('woff2'),
         url('pokemon_solid-webfont.woff') format('woff'),
         url('pokemon_solid-webfont.ttf') format('truetype'),
         url('pokemon_solid-webfont.svg#pokemon_solidnormal') format('svg');
    font-weight: normal;
    font-style: normal;

}