article{
    display: flex;
    flex-wrap: wrap;
}

article div{
    display: flex;
    gap: 6px;
    align-items: center;
    width: 100%;
    border-bottom: 2px solid purple;
    margin-bottom: 10px;
}

article div h2{
    flex: 1;
    margin: 0 0 5px; 
}

article div span{
    padding: 4px 10px;
    border-radius: 3px;
    color: white;
    font-size: 13px;
}

article img{
    background: #7C437C;
    border-radius: 50%;
    width: 475px;
    height: 475px;
    object-fit: contain;
}

article p{
    flex: 1;
    margin-left: 20px;
    font-size: 22px;
}

body{
    margin: 0;
    background: url(fondos/fondo.jpg);
    font-family: 'Ubuntu', sans-serif;
}
header{
    background: #1E051A url(fondos/header.jpg) no-repeat center;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 120px;
    padding: 0 50px;
    box-shadow: 0 0 10px rgba(0,0,0,.4);
    filter: sepia(0);
    z-index: 2000;
}

header ul{
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    font-size: 20px;
}

header ul a{
    color: yellow;
    background: #222;
    padding: 7px 20px;
    display: inline-block;
    text-decoration: none;
    transition: .3s;
}

header ul a:hover{
    background: #313B58;
}



header h1{
    color: white;
    font-size: 50px;
    font-family: 'pokemon';
    font-weight: normal;
    letter-spacing: 2px;
}



main{
    background: white;
    padding: 20px 40px;
    width: 800px;
    margin: auto;
    border-left: 4px solid #222;
    border-right: 4px solid #222;
    min-height: calc( 100vh - 160px );
}

#joaquin141714{
    margin: 60px 0;
    width: 100%;
    display: flex;
    padding: 0;
    list-style: none;
}


#joaquin141714 li{
    flex: 1;
}

#joaquin141714 li:nth-child(1) a{
    border-radius: 6px 0 0 6px;
}
#joaquin141714 li:nth-child(2) a{
    border-radius: 0 6px 6px 0;
}

#joaquin141714 li a{
    display: block;
    font-size: 20px;
    font-weight: bold;
    font-variant: small-caps;
    letter-spacing: 1px;
    text-decoration: none;
    padding: 20px;
    background: #386abb;
    color: #ffcc03;
}

#joaquin141714 li a:hover{
    text-decoration: underline;
}

#joaquin141714 li:nth-child(2) a{
    text-align: right;
}

#trivia{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 773px;
    height: 435px;
    background: url(fondos/trivia.png);
}

#trivia form{
    width: 250px;
    display: flex;
    flex-direction: column;
    opacity: .9;
}
#trivia form > *{
    padding: 10px 15px;
    border: none;
    outline: none;
    font-size: 18px;
    text-align: center;
}
#trivia form > p,
#trivia form > input{
    color: #386abb;
    background: white;
    margin: 0;
}

#trivia form > p{
    position: relative;
}

#trivia form > a,
#trivia form > button{
    background: #386abb;
    color: #ffcc03;
    text-decoration: none;
}

#nombre{
    font-family: 'Pokemon';
    letter-spacing: 5px;
    color: #ffcc03;
    font-size: 50px;
    position: absolute;
    top: 20px;
    left: 0px;
    right: 50%;
    text-align: center;
    text-shadow: 
        2px 2px 0 #386abb,
        -1px 0 0  #386abb,
        0 -1px 0  #386abb,
        -1px -1px 0  #386abb
    ;
}

#trivia img{
   /* filter: brightness(0); */
}

.horizontal{
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding: 0;
    list-style: none;
    flex-wrap: wrap;
}

.horizontal > *{
    width: 18%;
}
.horizontal img{
    width: 100%;
}

.info{
    display: inline-block;
    width: 16px;
    height: 16px;
    text-indent: -200px;
    overflow: hidden;
    background: url(fondos/question.png) no-repeat;
    background-size: contain;
    position: absolute;
    right: 10px;
    top: calc(50% - 8px);
}

/** COLORES PARA LOS TIPOS DE POKEMON **/
.Acero{ background: #9EB7B8; }
.Agua{ background: #4592C4; }
.Bicho{ background: #729F3F; }
.Dragon{ background: #A28993; }
.Electrico{ background: #EED535; }
.Fantasma{ background: #7B62A3; }
.Fuego{ background: darkred; }
.Hada{ background: #FDB9E9; }
.Hielo{ background: #51C4E7; }
.Lucha{ background: #D56723; }
.Normal{ background: silver; }
.Psiquico{ background: #F366B9; }
.Planta{ background: #9BCC50; }
.Roca{ background: #A38C21; }
.Siniestro{ background: #707070; }
.Tierra{ background: #9B816C; }
.Veneno{ background: #B97FC9; }
.Volador{ background: #2C316A; }
.Buffer{ background: #a09abb; }



img.Acero{ background: #9EB7B833;  }
img.Agua{ background: #4592C433; }
img.Bicho{ background: #729F3F33; }
img.Dragon{ background: #A2899333; }
img.Electrico{ background: #EED53533; }
img.Fantasma{ background: #7B62A333; }
img.Fuego{ background: #8B000033; }
img.Hada{ background: #FDB9E933; }
img.Hielo{ background: #51C4E733; }
img.Lucha{ background: #D5672333; }
img.Normal{ background: #C0C0C033; }
img.Psiquico{ background: #F366B933; }
img.Planta{ background: #9BCC5033; }
img.Roca{ background: #A38C2133; }
img.Siniestro{ background: #70707033; }
img.Tierra{ background: #9B816C33; }
img.Veneno{ background: #B97FC933; }
img.Volador{ background: #2C316A33; }
img.Buffer{ background: #a09abb33;}